@import "reset.css";
@import "header.css";
@import "footer.css";
@import "timeline.css";
@import "slideshow.css";
@import "profile.css";

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
